* {
  margin: 0;
  padding: 0;
}

body {
  animation: bgAnimation 5s linear infinite alternate;
  background-image: linear-gradient(45deg, #ffb7b2, #ffdac1, #e2f0cb, #b5ead7);
  background-size: 2500%;
}

@keyframes bgAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  font-weight: bold;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1526161955674-92d767589833?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sb3JmdWwlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: txtAnimation 1.3s linear infinite alternate;
}

@keyframes txtAnimation {
  0% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}
